import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,400;1,600&family=Roboto:ital@1&display=swap");
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main{
    background: url(https://media.giphy.com/media/1zkrF3l0RfgapqdySj/giphy.gif) ;
}
nav{
    background-color: darkorange;
}
.navbar-nav{
    position: relative;
    width: 20%;
    top: 100%;
    
}
.nav-item a{
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 25px;
    transition: all 0.6s;
   
}
.nav-item a:hover{
    color: gold;
}
ul.menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-items: center;
    
    margin: 0 auto;
    
}.nav-item a{
    display: flex;
    justify-content: space-between;
    
    margin: 0 auto;
    
}


.d-flex input{
    height: 50px;
    width: 200px;
    outline: none;
    border: 2px solid green;
    background-color: transparent;
    border-radius: 50px ;
    border-right: none;
}
.menu1{
    background: url(https://media.giphy.com/media/1zkrF3l0RfgapqdySj/giphy.gif) ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    background-color: darkgrey;
    height: 90px;}
footer {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: pink;
    
    text-align: center;

}


.d-flex input{
    height: 50px;
    width: 200px;
    outline: none;
    border: 2px solid green;
    background-color: transparent;
    border-radius: 50px ;
    border-right: none;
}
.menu1{
    background: url(https://media.giphy.com/media/1zkrF3l0RfgapqdySj/giphy.gif) center/cover ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    background-color: darkgrey;
    height: 100px;}

@media (min-width:380px) and(max-width:700px) {
    

    footer {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 50%;
        background-color: pink;
        margin: 0 auto;
        text-align: center;

    }
}
